<!DOCTYPE html>
<html lang="en">

    <head>
        @Html.Partial("_partials/_head")
    </head>

    <body>
        @Html.Partial("_partials/_header")
        <main class="container body__fullheight">
            @RenderBody()
        </main>
        @Html.Partial("_partials/_footer")

        <script src="@Context.GetLink("/js/nav-responsive.js")"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/components/prism-core.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/plugins/autoloader/prism-autoloader.min.js"
            data-no-mirror></script>
        <script src="https://cdn.jsdelivr.net/npm/quicklink@2.0.0/dist/quicklink.umd.js"></script>
    </body>

</html>