<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_partials/_head")
</head>
<body>
    <header>
        @Html.Partial("_partials/_header")
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
            @Html.Partial("_partials/_footer")
    </footer>
    @Html.Partial("_partials_footersrc")
</body>
</html>