<!DOCTYPE html>
<html lang="en" style="overflow-x:hidden;">

    <head>
        @Html.Partial("_partials/_head")
    </head>

    <body>
        <div class="grid md:grid-cols-3 gap-4">
            <div></div>
            <div>
                <header>
                    @Html.Partial("_partials/_header")
                </header>

                <main class="px-5">
                    @RenderBody()
                </main>

                <footer>
                    @Html.Partial("_partials/_footer")
                </footer>
            </div>
            <div></div>
        </div>
        @Html.Partial("_partials/_footersrc")
    </body>

</html>
