<!DOCTYPE html>
<html lang="en">

    <head>
        @Html.Partial("_partials/_head")
    </head>

    <body>
        @Html.Partial("_partials/_header")
        <main class="container">
            @RenderBody()
        </main>
        @Html.Partial("_partials/_footer")

        <script src="@Context.GetLink("/js/nav-responsive.js")"></script>
    </body>

</html>