@model IDocument

@{
    string excerpt = Model.GetString(Statiq.Html.HtmlKeys.Excerpt);
}

<div class="post-preview">
    <h2 class="post-title">@Html.DocumentLink(Model)</h2>
    @if (Model.ContainsKey("Lead"))
    {
        <div class="post-subtitle">@Model.GetString("Lead")</div>
    }
    <p class="post-meta">Published on @Model.GetDateTime(WebKeys.Published).ToLongDateString()</p>
    @if (!string.IsNullOrEmpty(excerpt))
    {
        @Html.Raw(excerpt)
        <p class="small">
            <a href="@Context.GetLink(Model)">
                <span>Read the article</span>
                <svg xmlns="http://www.w3.org/2000/svg" style="height:25px;width:25px;" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd"
                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-8.707l-3-3a1 1 0 00-1.414 1.414L10.586 9H7a1 1 0 100 2h3.586l-1.293 1.293a1 1 0 101.414 1.414l3-3a1 1 0 000-1.414z"
                    clip-rule="evenodd" />
                </svg>
            </a>
        </p>
    }
</div>