@model IDocument

<section class="container content__spacing feed-article__top section">
    <p class="mb-5 article-meta__tag">@Model.GetString("Tag")</p>
    <a href="@Context.GetLink(Model)">
        <h1>@Html.DocumentLink(Model)</h1>
    </a>
    <div class="feed-article__metas">
        <div class="is-flex is-justify-content-space-between">
            <div class="is-flex is-align-items-center">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" style="height:14px;width:14px;" viewBox="0 0 20 20"
                        fill="#000">
                        <path fill-rule="evenodd"
                            d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                            clip-rule="evenodd" />
                    </svg>
                    <p class="article-meta__published-date">@Model.GetDateTime(WebKeys.Published).ToLongDateString()</p>
                </div>
                <div class="article-meta__author__div">
                    <svg xmlns="http://www.w3.org/2000/svg" style="height:14px;width:14px;" viewBox="0 0 20 20"
                        fill="#000">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                            clip-rule="evenodd" />
                    </svg>
                    @if (string.IsNullOrEmpty(@Model.GetString("Author")))
                    {
                        <p class="article-meta__author">Alexis C. GRIDEL</p>
                    }
                    else
                    {
                        <p class="article-meta__author">@Model.GetString("Author")</p>
                    }
                </div>
            </div>
        </div>
        <p>Have you noticed an error in this article? Do not hesitate to correct it, the site is open-source! <a href="https://github.com/Inerska/inerska.github.io" target="_blank">https://github.com/Inerska/inerska.github.io</a></p>
    </div>
</section>