<!DOCTYPE html>
<html lang="fr">

    <head>
        @Html.Partial("_partials/_post__head")
    </head>

    <body>
        @Html.Partial("_partials/_post__header")
        @Html.Partial("_partials/_post__prebody")
        <main class="container is-max-desktop content__spacing body__fullheight section">
            @RenderBody()
        </main>
        @Html.Partial("_partials/_footer")

        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/components/prism-core.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/plugins/autoloader/prism-autoloader.min.js"
            data-no-mirror></script>
        <script src="https://cdn.jsdelivr.net/npm/quicklink@2.0.0/dist/quicklink.umd.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {

                const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

                if ($navbarBurgers.length > 0) {

                    $navbarBurgers.forEach(el => {
                        el.addEventListener('click', () => {

                            const target = el.dataset.target;
                            const $target = document.getElementById(target);

                            el.classList.toggle('is-active');
                            $target.classList.toggle('is-active');
                        });
                    });
                }

            });
        </script>
    </body>

</html>